<style>
.table>tbody>tr>td,{
  border-top: 0px;
  background-color:#ff3;
}
</style>
<form action="/home/write" method="POST">
<div class="container">
<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <h1>새로운 만다라트 작성</h1>
      <hr>
      <div class="form-group">
        <label for="subject">제목:</label> 
        <input name="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="제목을 작성해 주세요, 빈 칸으로 두실 경우 중심 목표가 제목이 됩니다">
      </div>
    </div><!--<div class="col-xs-12">-->
  </div> <!--제목row-->
  
  <div class="row">
    <div class="table-responsive">          
      <table class="table" style="font-size:1em">
        <thead>
          <!--<tr></tr>-->
        </thead>
        <tbody>
        <% (1..9).each do |i|%>  
          <tr>
          <% (1..9).each do |j| %>
            <% if i== 5 && j==5 %>
              <td><textarea autofocus="" class="form-control" rows="3" name="box<%=i%><%=j%>" id="box<%=i%><%=j%>" maxlength="20" style="width:100%"
              style="color:red;" placeholder="목표를 작성해 주세요 : 20자 이내"></textarea></td>
            <%  #이하 disable출력코드 %>
            <% elsif  ((i == 2 && j == 2) || 
                        (i == 2 && j == 5) || 
                        (i == 2 && j == 8) || 
                        (i == 5 && j == 2) || 
                        (i == 5 && j == 8) || 
                        (i == 8 && j == 2) || 
                        (i == 8 && j == 5) || 
                        (i == 8 && j == 8)) %>
              <td><textarea disabled class="form-control" rows="3" name="box<%=i%><%=j%>" id="box<%=i%><%=j%>" maxlength="20" style="width:100%; background-color:#eee"
              placeholder="중간목표를 먼저 작성해 주세요" ></textarea></td>
            <% else %>
              <td><textarea class="form-control" rows="3" name="box<%=i%><%=j%>" id="box<%=i%><%=j%>" maxlength="20" style="width:100%"
              ></textarea></td>
            <% end %>
            
            <% if j%3 ==0 && j!=9 %>
              <td style="width:10px;"></td>
            <% end %>
          <% end %> 
          </tr>
          <% if i%3 == 0 && i!= 9%>
            <tr><td><br></td></tr>
          <% end %>
        <% end %>
        </tbody> 
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="checkbox">
        <input type="checkbox" name="shared" checked>
        이 만다라트를 다른 사람들에게 공유합니다.
        (체크를 해제하면 My list에서만 보실 수 있습니다.)
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">작성완료</button>
  </div>
</form>

<script>
$("#box44").focusout(function() {
    $("#box22").text( $("#box44").val());
})
$("#box45").focusout(function() {
    $("#box25").text( $("#box45").val());
})
$("#box46").focusout(function() {
    $("#box28").text( $("#box46").val());
})
$("#box54").focusout(function() {
    $("#box52").text( $("#box54").val());
})
$("#box56").focusout(function() {
    $("#box58").text( $("#box56").val());
})
$("#box64").focusout(function() {
    $("#box82").text( $("#box64").val());
})
$("#box65").focusout(function() {
    $("#box85").text( $("#box65").val());
})
$("#box66").focusout(function() {
    $("#box88").text( $("#box66").val());
})
  
</script>
 