<style>
/*중심목표*/
.subject1{
    color:red;
    font-weight:bold;
    text-align:center;
    background-color:#fff;
    border:solid red 1px;
    height:90px;
    padding:-50px;
    font-size: 0.8em;
}
/*중간목표*/
.subject2{
    font-weight:bold;
    text-align:center;
    background-color:#ccc;
    height:90px;
    font-size: 0.8em;
}
/*말단목표*/
.subject3 {
    text-align:center;
    background-color:#eee;
    height:90px;
    font-size: 0.8em;
}
p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
/*중앙정렬위한 코드*/
.parantcen {
  display: table;
  text-align: center;
}
span.cen {
  display: table-cell;
  vertical-align: middle;
}
.title{
  ;
}
</style>
<div class="container">
    <div class="row"><a href="/home/create" class="btn btn-success">저도 목표를 작성하고 싶습니다.</a></div>
    <hr>
    <% @mylist.each do |mandal| %>
        <!--one mandal-->
        <div class="row title">
            <div class="col-xs-9 parantcen"><h1><%=mandal.title%></h1></div>
            <div class="col-xs-3 parantcen">
                <span class="cen">
                    <h5><p><%=time_ago_in_words(mandal.created_at)%></p></h5>
                    <a href="/home/update/<%=mandal.id%>" class="btn btn-primary">수정하기</a>
                    <a href="/home/remove/<%=mandal.id%>" class="btn btn-danger">삭제하기</a>
                    
            <!--<p>글번호 : <%=mandal.id%></p>-->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box11 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box12 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box13 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box14 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box15 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box16 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box17 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box18 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box19 %></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box21 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box44 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box23 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box24 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box45 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box26 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box27 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box46 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box29 %></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box31 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box32 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box33 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box34 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box35 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box36 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box37 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box38 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box39 %></span></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box41 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box42 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box43 %></span></div>
            <div class="col-xs-1 subject2 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box44 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box45 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box46 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box47 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box48 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box49 %></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box51 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box54 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box53 %></span></div>
            <div class="col-xs-1 subject2 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box54 %></span></div>
            <div class="col-xs-1 subject1 parantcen"><span class="cen"><%= mandal.box55 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box56 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box57 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box56 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box59 %></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box61 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box62 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box63 %></span></div>
            <div class="col-xs-1 subject2 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box64 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box65 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box66 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box67 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box68 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box69 %></span></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box71 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box72 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box73 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box74 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box75 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box76 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box77 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box78 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box79 %></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box81 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box64 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box83 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box84 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box65 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box86 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box87 %></span></div>
            <div class="col-xs-1 subject2 parantcen"><span class="cen"><%= mandal.box66 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box89 %></span></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box91 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box92 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box93 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box94 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box95 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box96 %></span></div>
            <div class="col-xs-1 subject3 parantcen col-sm-offset-1"><span class="cen"><%= mandal.box97 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box98 %></span></div>
            <div class="col-xs-1 subject3 parantcen"><span class="cen"><%= mandal.box99 %></span></div>
        </div>
        <br>
        <hr>
        <hr>
    <% end %>
</div>